.cart-style {
	max-width: 18rem;
	min-width: 18rem;
	display: flex;
	justify-content: center;
	border-radius: 20px;
	overflow: hidden;
	transition: transform .22s ease, box-shadow .22s ease;
	cursor: pointer;
	/* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); */
}

.cart-style:hover {
	max-width: 18rem;
	min-width: 18rem;
	display: flex;
	justify-content: center;
	background-image: linear-gradient(#77A41C, rgb(255, 255, 255));
	border-radius: 20px;
	border: none;
	transform: translateY(-6px);
	box-shadow: 0 0.1rem 1rem 0.5rem rgba(0, 0, 0, 0.15);
	/* box-shadow: 0 0.1rem 1rem 0.5rem rgba(119, 164, 28, 0.15); */
}

.img-cart-style {
	display: flex;
	justify-content: center;
}

.img-view {
	background-color: #ECF0BA;
}

.icon-place {
	z-index: 7;
	position: absolute;
	top: 20px;
	left: 20px;
}

.icon-place-view {
	z-index: 7;
	position: absolute;
	top: 20px;
	left: 200px;
}

.carousel-indicators {
	margin-bottom: 0px !important;
}

.product-price {
	font-size: 50px;
	color: #3A7F0C;
}