.vk-hero {
	display: grid;
	grid-template-columns: 1fr 1fr;
	min-height: 550px;
	border-radius: 0px 0px 20px 20px;
}

.vk-hero-left {
	padding: 56px 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

.vk-hero-left h1 {
	font-size: 60px;
	font-weight: 800;
	color: #1A3306;
	margin: 0 0 14px;
	line-height: 1.2;
	position: relative;
	z-index: 1;
}

.vk-hero-left p {
	color: #2e570a;
	font-size: 18px;
	margin: 0 0 28px;
	line-height: 1.7;
	position: relative;
	z-index: 1;
}

.vk-hero-btns {
	display: flex;
	gap: 12px;
	position: relative;
	z-index: 1;
}

.vk-hero-img {
	height: 550px;
	width: auto;
}

.vk-hero-sale {
	height: 120px;
	width: auto;
	z-index: 7;
	position: absolute;
	top: 200px;
	left: 800px;
}


.title-style {
	font-weight: 800;
	color: #1A3306;
	margin: 0 0 8px;
}

.vk-sec-sub {
	text-align: center;
	font-size: 20px;
	color: #3A7F0C;
	margin: 0 0 40px;
}

.vk-feat-card {
	background: #ffffff;
	border-radius: 18px;
	padding: 28px 24px;
	border: 1.5px solid #ECF0BA;
}

.vk-feat-icon {
	width: 50px;
	height: 50px;
	border-radius: 14px;
	background: #ECF0BA;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 16px;
}

.vk-feat-card {
	font-size: 16px;
	font-weight: 700;
	color: #1A3306;
	margin: 0 0 8px;
}

.vk-feat-card {
	font-size: 14px;
	color: #3A7F0C;
	margin: 0;
	line-height: 1.6;
}

.vk-feat-h {
	font-size: 20px;
	font-weight: 700;
	color: #1A3306;
	margin: 0 0 8px;
}

.vk-feat-p {
	font-size: 16px;
	color: #3A7F0C;
	margin: 0;
	line-height: 1.6;
}

.vk-step-number {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background-color: #ECF0BA;
	border: 2px solid #77A41C;
	color: #1A3306;
	font-size: 26px;
	font-weight: 800;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto 20px;
}

.vk-step-title {
	font-size: 17px;
	font-weight: 700;
	color: #1A3306;
	margin-bottom: 10px;
}

.vk-step-desc {
	font-size: 14px;
	color: #3A7F0C;
	line-height: 1.7;
	max-width: 260px;
	margin: 0 auto;
}

.vk-how-section {
	background-color: rgba(241, 244, 202, 0.3);
	border-radius: 20px;
}